<div class="container">
    <div class="form-container">
      <div class="header">
        <span class="logo">+LO GO</span>
        <span class="app-name">App name</span>
      </div>
      <p>START WITH US !</p>
      <h1>Create new account</h1>
      <p>Already have an account ? <a href="#">Log in</a></p>
      <form>
        <div class="input-group">
          <div class="input-container">
            <input  type="text" placeholder="First name..." required>
            <i class="fa fa-user icon"></i>
          </div>
          <input type="text" placeholder="Last name..." required>
        </div>
        <input type="email" placeholder="Mail..." required>
        <input type="password" placeholder="Password..." required>
        <div class="button-group">
          <button type="button" class="secondary-button">change methode</button>
          <button type="submit" class="primary-button">create account</button>
        </div>
      </form>
    </div>
  </div>
