.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/assets/docteur.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .logo {
    font-weight: bold;
    color: white; 
  }
  .go{
    color: red;
  }
  .app-name {
    font-size: 1.5rem; 
    color: white;
  }
  
  .form-container {
    background-color: black;
    opacity: 85%;
    padding: 2rem;
    width: 100%; 
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    color: white;
    font-family: 'Arial', sans-serif; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  .input-group {
    display: flex;
    width: 10%;
    
  }
  
  input {
    margin-bottom: 1rem;
    padding: 1rem; 
    background: rgba(255, 255, 255, 0.2); 
    color: white; 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.4); 
   
  }
 
.input-container {
    position: relative;
  }
  
  .input-container .icon {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #555;
  }
  
  .input-container input {
    padding-left: 30px;
  
  }
  .mode{
    display: flex;
  }
  .mode input{

    width: 146px;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    flex: auto;
  }
  .input-group input:first-child {
    margin-right: 10px;
  }
  
  .input-group input:last-child {
    margin-right: -0.5; 
  }
  .input-icon-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    color: #ffffff;
  }
  
  .input-icon-container input {
    padding-left: 30px;
    width: 100%;
    
  }
  
  
  button {
    padding: 10px ;
    border: none;
    width: 150px;
    height: 50px;
    margin-left: 300px;
    border-radius: 20px;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer; 
    border-radius: 20px; 

  }
  
  .primary-button {
    background-color: #0b335e;
    color: white;
  }
  
  .secondary-button {
    background-color: #6c757d;
    color: white;
  }
  
  a {
    color: #007bff; 
    text-decoration: none; 
  }
  
 
  button:hover {
    opacity: 0.8;
  }
  
  
  input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
  }
  