<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<mat-nav-list>
    <a mat-list-item routerLink="/home/menu">
        <mat-icon>
            <div class="icon">
                <i matListItemIcon class="ri-home-4-line"></i>
            </div>
        </mat-icon>
    </a>
    <a mat-list-item routerLink="/home/settings">
        <mat-icon>
            <div class="icon">
                <i matListItemIcon class="ri-settings-3-line"></i>
            </div>
        </mat-icon>
    </a>
</mat-nav-list>


<!--<div class="icon">
    <div class="home">
        <i class="ri-home-4-line"></i>
        <div class="home">Home</div>
    </div>
</div>-->
  