<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<div class="dashB">
    <div class="left"> 
        <div class="dashboard-content" > 
            <div class="user-welcome"> 
                <div class="image"> 
                    <img src="../../../assets/images/hopital.jpg" alt=""> 
                    <div class="gradiant"></div>
                </div>
                <div class="message-overlay"> 
                    <h2>Welcome<br><span>Ms Jane DOE</span></h2>
                    <img class="line" src="../../../assets/images/Line 3.svg" /> 
                    <p>Lorem ipsum dolor sit amet consectetur. Risus hendrerit amet
                        <br>elementum proin accumsan. Maecenas non id enim faucibus
                        <br>vel ac tincidunt.
                    </p>
                </div> 
            </div> 
        </div> 
        <div class="titre">Departements & nombre de personnels</div> 
        <div class="menup"> 
            <div class="box"> 
                <div class="card"> 
                    <div class="text"> 
                        <img src="../../../assets/images/Siren.png"> 
                        <div class="dash">6<br>Urgences</div> 
                    </div>
                    <div class="vertical-line"></div>
                    <div class="text"> 
                        <img src="../../../assets/images/Radiologie.png"> 
                        <div class="Doc">3<br>Radiologie</div> 
                    </div>
                    <div class="vertical-line"></div>
                    <div class="text"> 
                        <img src="../../../assets/images/Microscope.png"> 
                        <div>4<br>Laboratoire</div> 
                    </div>  
                </div> 
            </div> 
            <div class="card2"> 
                <div class="text"> 
                    <img src="../../../assets/images/stationary bike.png"> 
                    <div>6<br>Physio/
                        <br>Rééducation
                    </div> 
                </div>
                <div class="vertical-line"></div>
                <div class="text"> 
                    <img src="../../../assets/images/Mental Breakdown.png"> 
                    <div>3<br>
                        Psychologie/<br>
                        Psychiatrie
                    </div> 
                </div>
                <div class="vertical-line"></div>
                <div class="text"> 
                    <div class="Dep"><img src="../../../assets/images/Tie.png"></div> 
                    <div>4<br>Administration</div> 
                </div>  
            </div> 
        </div> 
    </div>
    <div class="right">
        <div class="calendar" style="width: 300px">
            <mat-calendar></mat-calendar>
            
        </div>
        
        <hr class="h">

        <div> 
            <div><img src="../../../assets/images/Blood donate.png"></div>         
        </div>
    </div>
</div>

