<div class="div">
  <div class="div-2">
    <img loading="lazy" srcset="..." class="img" />
    <div class="div-3">
      <div class="div-4">
        <div class="div-5">
          <div class="column">
            <span class="span">
              <div class="div-6">
                +L
                <span style="color: rgba(220, 0, 0, 1)">O</span>
                <br />
                <span style="color: rgba(220, 0, 0, 1)">G</span>
                O
              </div>
              <div class="div-7">App name</div>
              <div class="div-8">
                Lorem ipsum dolor sit amet consectetur. Phasellus id elit sem accumsan cursus turpis. Faucibus ornare id a erat velit iaculis sit erat auctor. Non quis ultrices fringilla mauris. Sed amet commodo luctus sed cras sit.
              </div>
            </span>
          </div>
          <div class="column-2">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a37780b8613cd890d0f113af251fce6b58158862e68c3c1085f181e06e0fdaa?"
              class="img-2"
            />
          </div>
        </div>
      </div>
      <div class="div-9">
        <div class="div-10"></div>
      </div>
    </div>
  </div>
</div>
