
  
  .doctors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 500px;
  }
  
  .doctor-card {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .doctor-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
 
  .doctor-card h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .doctor-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  