
<div class="doctors-container">
    <div class="doctor-card">
      <img src="doctor1.jpg" alt="Dr. John DOE">
      <h3>Dr. John DOE</h3>
      <p>Speciality</p>
      <p>7h30 am to 3 pm</p>
    </div>
    <div class="doctor-card">
      <img src="doctor2.jpg" alt="Dr. Jeane DOE">
      <h3>Dr. Jeane DOE</h3>
      <p>Speciality</p>
      <p>9 am to 5 pm</p>
    </div>
    <div class="doctor-card">
      <img src="doctor3.jpg" alt="Dr. John DOE">
      <h3>Dr. John DOE</h3>
      <p>Speciality</p>
      <p>7h30 am to 6 pm</p>
    </div>
  </div>
  
  