.dep-content{
    margin-left: 17px;
}

.en-tête{
    display: flex;
}

.en-tête p{
    margin: 50px 0 0 40px;
    font-size: 31px;
    color: rgba(0, 16, 57, 1);
}

.ajout .ajout-dep {
    margin: 50px 0 0 515px;
    text-decoration: none;
    color: rgba(20, 0, 100, 1);
    display: flex;
    font-size: 28px;
    align-items: center;
}
  
  .ajout .ajout-dep span {
    margin-left: 10px;
    font-size: 20px;
}

.menup{
    display: flex;
    padding: 20px;
}

.box{
    align-items: center;
    padding: 10px;
}

.box .text{
    cursor: pointer;
    width: 230px;
    align-items: center;
    display: flex;
    font-size: 25px;
    padding: 30px;
    background: rgba(239, 239, 239, 1);
    transition: all 0.3s ease;
}
.box .text div{
    color: rgba(0, 16, 57, 1);
}

.box .text:hover{
    background-color: rgb(236, 255, 192);
}

img {
    height: 70px;
    width: 70px;
    padding-right: 15px;
}