<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="dep-content">
    <p>Our departement</p>

    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/urgences"><img src="../../../assets/images/Siren.png"></a>
                        <div class="dash">Urgences</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/radiologie"><img src="../../../assets/images/Radiologie.png"></a>
                        <div class="Doc">Radiologie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/laboratoire"><img src="../../../assets/images/Microscope.png"></a>
                        <div class="Dep">Laboratoire</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/physio"><img src="../../../assets/images/stationary bike.png"></a>
                        <div class="dash">Physio/<br>Rééducation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/psycho"><img src="../../../assets/images/Mental Breakdown.png"></a>
                        <div class="Doc">Psychologie/<br>Psychiatrie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/administration"><img src="../../../assets/images/Tie.png"></a>
                        <div class="Dep">Administration</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
