<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="dep-content">
    <div class="en-tête">
        <p>Our departement</p>
        <div class="ajout">
            <a href="javascript:void(0)" class="ajout-dep" (click)="openPopupForm()">
                <i class="ri-add-box-line"></i><span>Add departement</span>
            </a>
        </div>
    </div>

    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/urgences"><img src="../../../assets/Siren.png"></a>
                        <div class="dash">Urgences</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/radiologie"><img src="../../../assets/Radiologie.png"></a>
                        <div class="Doc">Radiologie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/laboratoire"><img src="../../../assets/Microscope.png"></a>
                        <div class="Dep">Laboratoire</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/physio"><img src="../../../assets/stationary bike.png"></a>
                        <div class="dash">Physio/<br>Rééducation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/psycho"><img src="../../../assets/Mental Breakdown.png"></a>
                        <div class="Doc">Psychologie/<br>Psychiatrie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/administration"><img src="../../../assets/Tie.png"></a>
                        <div class="Dep">Administration</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
