<div class="container"> 
  <div class="form-container"> 
    <div class="header"> 
      <img src="./assets/+LO GO-1.png" alt=""> 
      <span class="app-name">App name</span> 
    </div> 
    <p>START WITH US !</p> 
    <h1>Login</h1> 
    <p>Already have an account ? <a href="#">Log in</a></p> 
    <form> 
      <div class="input-group"> 
        <div class="input-container"> 
          <div class="mode"> 
            <input  type="text" placeholder="First name..." required> 
            <input type="text" placeholder="Last name..." required> 
         </div>        
        </div> 
                  <i class="fa fa-user icon"></i> 
 
      </div> 
      <input type="password" placeholder="Password..." required> 
      <div class="button-group"> 
        <button type="submit" class="primary-button"><a (click)="authenticate()" >Se connecter</a></button> 
      </div> 
    </form> 
  </div> 
</div>