<div class="tout">
    <div class="info">
        <br>
        <span>Welcome</span>
        <h2>Ms John DOE</h2>
        <hr class="B">
        <p>Lorem ipsum dolor sit amet consectetur. Risus hendrerit amet elementum proin accumsan. non id enim faucibus vel ac tincidunt.</p>
    </div>
    <div class="menup"> 
        <div class="box"> 
            <div class="card"> 
                <div class="box"> 
                    <div class="text"> 
                        <img src="../../assets/calendar.png"> 
                        <div class="dashM">6<br>Appoit</div> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="box"> 
            <div class="card"> 
                <div class="box"> 
                    <div class="text"> 
                        <img src="../../assets/Siren.png"> 
                        <div class="Doc">3<br>Urgent ALert</div> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="box"> 
            <div class="card"> 
                <div class="box"> 
                    <div class="text"> 
                        <img src="../../assets/Microscope.png"> 
                        <div class="Dep">4<br>Ready Results</div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
    <div class="doctors-container">
        <div class="doctor-card">
          <img src="../../assets/admin_pic.jpg" alt="Dr. John DOE">
          <h3>Dr. John DOE</h3>
          <p>Speciality</p>
          <p>7h30 am to 3 pm</p>
        </div>
        <div class="doctor-card">
          <img src="../../assets/admin_pic.jpg" alt="Dr. John DOE">
          <h3>Dr. John DOE</h3>
          <p>Speciality</p>
          <p> 9 am to 5 pm</p>
        </div>
        <div class="doctor-card">
          <img src="../../assets/admin_pic.jpg" alt="Dr. John DOE">
          <h3>Dr. John DOE</h3>
          <p>Speciality</p>
          <p>7h30 am to 6 pm</p>
        </div>
    </div>

    <div class="calendrier">
      <div class="calendar" style="width: 200px">
        <mat-calendar></mat-calendar>
    </div>
    <div class="rdv">
      <div class="profil">
        <div class="cadre">
          <img src="../../assets/sourir.jpg" alt=""> 
          <h4>Dr Joe Dane</h4>
           <h5>BBL road</h5>
           <p>7h40 am to 6pm</p>
        </div>
      </div>
      <div class="profil2">
        <div class="cadre">
          <img src="../../assets/sourir.jpg" alt=""> 
          <h4>Dr Joe Dane</h4>
           <h5>BBL road</h5>
           <p>7h40 am to 6pm</p>
        </div>
      </div>
      <div class="profil1">
        <div class="cadre">
          <img  src="../../assets/sourir.jpg" alt=""> 
           <h4>Dr Joe Dane</h4>
           <h5>BBL road</h5>
           <p>7h40 am to 6pm</p>
        </div>
      </div>

    </div>

    </div>

  </div>

<!--
    <div class="calendar-container">
    <header class="calendar-header">
      <h1>Janvier 2023</h1>
      <div class="calendar-navigation">
            <i class="ri-arrow-left-wide-line"></i>
            <i class="ri-arrow-right-wide-line"></i>
      </div>
    </header>
    <div class="rectangles">
      <div class="rectangle">
        <div class="text">
          <h1>Jean Doe</h1>
          <span>Spécialité: _ _  _ _ _ _ _ </span>
          <h4>7h00<br/>12h00</h4>
        </div>
        <div class="vertical-line2">
        </div>
        <div class="profile2">
          <img src="./assets/Rectangle26.jpg">
        </div>
      </div>

      <div class="rectangle1">
        <div class="text">
          <h1>Jean Doe</h1>
          <span>Spécialité: _ _  _ _ _ _ _ </span>
          <h4>7h00<br/>12h00</h4>
        </div>
        <div class="vertical-line2">
        </div>
        <div class="profile2">
            <img src="./assets/Rectangle28.jpg">        </div>
      </div>

      <div class="rectangle2">
        <div class="text">
          <h1>Jean Doe</h1>
          <span>Spécialité: _ _  _ _ _ _ _ </span>
          <h4>7h00<br/>12h00</h4>
        </div>
        <div class="vertical-line2">
        </div>
        <div class="profile2">
            <img src="./assets/Rectangle26.jpg">        </div>
      </div>

      <div class="rectangle3">
        <div class="text">
          <h1>Jean Doe</h1>
          <span>Spécialité: _ _  _ _ _ _ _ </span>
          <h4>7h00<br/>12h00</h4>
        </div>
        <div class="vertical-line2">
        </div>
        <div class="profile2">
            <img src="./assets/Rectangle26.jpg">        </div>
      </div>
    </div>
    
  </div>-->

  


  
  
  

