<!-- department-form.component.html -->
<div class="Box">
    <div class="image">
      <img src="../../../assets/Joyful female doctor.png" alt="">
    </div>
    <form (ngSubmit)="onSubmit()" #departementForm="ngForm" class="department-form">
        <div class="form-group">
          <label for="departmentName">Nom du Département:</label>
          <input type="text" id="departmentName" name="departmentName" [(ngModel)]="departmentData.departmentName" required>
        </div>
      
        <div class="form-group">
          <label for="departmentAddress">Adresse du Département:</label>
          <input type="text" id="departmentAddress" name="departmentAddress" [(ngModel)]="departmentData.departmentAddress" required>
        </div>
      
        <div class="form-group">
          <label for="departmentDescription">Description:</label>
          <textarea id="departmentDescription" name="departmentDescription" [(ngModel)]="departmentData.departmentDescription"></textarea>
        </div>
      
       <!-- <div class="form-group">
          <label for="departmentIcon">Icône du Département:</label>
          <input type="file" id="departmentIcon" name="departmentIcon" (change)="onFileSelected($event)">
          <small *ngIf="selectedFile">Fichier sélectionné : {{ selectedFile.name }}</small>
        </div>-->
      
        <button type="submit" [disabled]="departementForm.invalid">Enregistrer</button>
      </form>
</div>
  