.doc-content{
    margin-left: 17px;

}
.doc-content p{
    margin: 20px 0 20px 31px;
    font-size: medium;
    font-weight: 24px;
    color: rgba(0, 16, 57, 1);

}
.fields{
    display: flex;
    background-color: rgba(234, 234, 234, 1);
    padding: 0 15px 30px 50px;
}
.field input{
    margin: 15px 20px 0px 30px;
    width: 255px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form .button button{
    margin-left: 85.5%;
    border: none;
    padding: 5px 50px 5px 50px;
    margin-top: 15px;
    background: rgba(0, 155, 43, 1);
    color: #fff;
    font-size: 20px;
    font-size: medium;
    font-weight: 28;
    border-radius: 55px 55px 55px 55px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/* datatable.component.css */
.titre{
    margin: 20px 0 20px 31px;
    font-size: medium;
    font-weight: 24px;
    color: rgba(0, 16, 57, 1);
}
table {
    width: 99%;
  }
  
/*  .mat-elevation-z8 {
    box-shadow: 0 6px 10px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  }*/
  
  
