<div class="doc-content">
    <p>Add Doctor</p>
    <form action="#">
        <div class="fields">
            <div class="field name">
                <input type="nom" placeholder="Nom" required>
            </div>
            <div class="field prénom">
                <input type="Prénom" placeholder="Prénom" required>
            </div>
            <div class="field num">
                <input type="num" placeholder="Doc num" required>
            </div>
        </div>
        <div class="fields">
            <div class="field spécialité">
                <input type="Spécialité" placeholder="Spécialité" required>
            </div>
            <div class="field Département">
                <input type="Département" placeholder="Département" required>
            </div>
            <div class="field Mot de passe">
                <input type="Mot de passe" placeholder="Mot de passe" required>
            </div>
        </div>
        <div class="button">
            <button class="submit">Ajouter</button>
        </div>
    </form>
</div>
