@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@0,8..144;1,8..144&display=swap');
.general {
    display: flex;
    position: relative;
  }
 /*-------------------------Menu----------------------------------*/ 
  .sidebar {
    width: 250px;
    padding-top: 40px;
    margin-left: 8px;
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: #EFEFEF;
    border-right: 1px solid #EFEFEF;
    height: 945px;
    position: fixed;
    display: block;
    flex-direction: column;
    justify-content: right;
    transition: 25s;
    padding: 7px 0px;
    border-radius: 20px 0px 0px 20px;
  }
  
  .sidebar-header {
    padding: 1rem;
    background-color: #EFEFEF;
    border-radius: 20px 0 0 20px;
  }
  
  .sidebar-back {
    text-decoration: none;
    color: #140064;
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    align-items: center;
  }
  
  h3 {
    padding-left: 20px;
    font-size: 25px;
    font-family: 'Roboto Serif', serif;
    color: #140064;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    padding: 2px 0 5px 0;
    justify-content: space-around;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #140064;
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 0.5rem;
    padding-left: 10px;
  }
  
  .nav-item a:hover,
  .nav-item.active a {
    background-color: #B10000;
    border-left: 4px solid #140064;
    width: 91.5%;
    color: #fff;
  }
  
  .nav-item a i {
    font-size: 30px;
    padding-right: 50px;
  }
  
  .setting {
    padding-top: 110px;
    margin-top: 100px;
  }
  
  .h {
    width: 200px;
    height: 0.2px;
    color: rgba(0, 0, 0, 0.47);
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.47);
  }
  
  .sidebar-footer {
    padding: 1rem;
    background-color: #EFEFEF;
    text-align: center;
    border-radius: 0 20px;
  }
  
  .sidebar-logo {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: top;
    padding-top: 150px;
    padding-left: 10px;
  }
  
  .sidebar-logo span {
    font-size: 20px;
    color: #001039;
    padding-left: 10px;
  }
  
  .logo-image {
    height: 100px;
    width: 100px;
    padding-left: 0px;
  }

/*------------------------- Dashbord --------------------*/
  .dash {
    display: flex;
    margin-left: 0px;
    background-color: #EAEAEA;
    width:1050px;
    justify-content: center;
    padding-left: 16px;
    height: 55px;
    border-radius: 0 20px 0 0;
    top: 10px;
    position: fixed;
  }
  
  .dash span {
    margin-top: 15px;
    font-size: 20px;
    color: #001039;
    margin-left: 80px;
    
  }
  
  .search-bar {
    flex-grow: 1;
    margin-left: 730px;
    display: flex;
    color: #000;
    border: none;
    cursor: pointer;
    padding-top: 15px;
  }
  
  input[type="search"] {
    width: 250px;
    height: 20px;
    border: none;
    margin-right: 2px;
    background: none;
    font-size: 20px;
    opacity: 26%;
    margin-left: -300px;
  }
  
  .search-bar i {
    font-size: 20px;
  }
  
 
  .message{
    margin-right: 25px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 25px;
  }

  .vertical-line {
    border-left: 1px solid #000;
    opacity: 47%;
    margin-top: 5px;
    padding-top: 30px;
    padding-left: 15px;
    margin-right: 5px;
    width: 1px;
    height: 10px; 
  }

  .profile img {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
    transition: all 0.3s ease;
    margin-right: 16px;
    margin-top: 5px;
  }


.info span {
  font-size: 20px;
  font-family: 'Arvo', serif;
  color: #fff;
  position: relative;
  font-weight: bold;
  top: 10px;
  margin-left: 30px;
}

h2 {
  font-size: 40px;
  font-family: 'Roboto Serif', serif;
  color: #fff;
  position: relative;
  top: 30px;
  margin-left: 30px;
}

.B {
  width: 361px;
  height: 1.8px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 13.02%, rgba(255, 255, 255, 0.00) 100%);
  position: relative;
  top: 20px;
  border: none;
  margin: 26px;
}

p {
  font-size: 12px;
  width: 558px;
  font-family: 'Roboto Serif', serif;
  color: #fff;
  position: relative;
  top: 10px;
  color: #FFF;
  margin: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard { 
  margin-left: 270px;
  margin-top: 910px; 
  width: 1050px;
  height: 50px; 

} 
 
 
.image img{ 
  height: 200px; 
  width: 600px; 
  object-fit: cover; 
  padding: 45px; 
  top: 20%; 
  
} 
 
.message-overlay { 
  position: absolute; 
  width: 500px; 
  top: 43px; 
  bottom: 430px; 
  left: 44%; 
  transform: translateX(-50%); 
  background-color: rgba(0, 0, 0, 0);  
  color: white; 
  padding: 45px; 
  text-align: center; 
} 