<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div>
    <div class="dashboard-content" >
    <div class="user-welcome">
        <div class="image">
            <img src="./assets/acc.jpg" alt="">
        </div>
        <div class="message-overlay">
            <h2>Welcome Ms Jane DOE</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Risus hendrerit amet elementum proin accumsan.</p>          </div>

    </div>
</div>
  
<div class="menup">
    <div class="box">
        <div class="card">
            <div class="box">
                <div class="text">
                    <img src="./assets/Interview Date.jpg">
                    <div class="dash">6<br>Appoitments</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card">
            <div class="box">
                <div class="text">
                    <img src="./assets/Alert.png">
                    <div class="Doc">3<br>Urgent ALert</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card">
            <div class="box">
                <div class="text">
                    <img src="./assets/Microscope.png">
                    <div class="Dep">4<br>Ready Results</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

