<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="dep-content">
    <p>Our departement</p>
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/Siren.png">
                        <div class="dash">Urgences</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/Radiologie.png">
                        <div class="Doc">Radiologie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/Microscope.png">
                        <div class="Dep">Laboratoir</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/stationary bike.png">
                        <div class="dash">Physio/<br>Rééducation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/Mental Breakdown.png">
                        <div class="Doc">Psychologie/<br>Psychiatrie</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <img src="../../../assets/images/Tie.png">
                        <div class="Dep">Administration</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
